*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

figure img{
    box-sizing: border-box;
    width: 170px;
    height: 4em;
    margin:0 10px;   
    margin-left: 13px;
    margin-right: 13px;
}   
a{
    text-decoration: none;
    color: white;
}
ul {    
    display: flex;
    justify-content:space-evenly ;
    list-style: none;
    background-color: rgb(14, 0, 141);
    padding: 0px 20px;
      
    
}
nav img{
    height: auto;
    width: 100px;
    margin-left: 1px;
    margin-right: 1px;  
}
#fogon { margin-left:0px;}
#Logos img { 
    margin-left: 65em;
    height: 1em;
    width: 1em;
}