*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Advent Pro', 'Arial', sans-serif;
    font-weight: 400;
}
body{
    background-color: rgb(177, 250, 255);
}

#pInicio{
    margin-top: 1.5em;
    margin-left: 1em;
    padding: 10px;
    background-color: rgb(41, 189, 235);
    border-radius: 10px;
    list-style:none ;
    width: 9em;
    font-size: x-large;
    font-weight: 900;
}
#pInicio2{
    margin-top: 10em;
    margin-left: 1em;
    padding: 10px;
    background-color: rgb(41, 189, 235);
    border-radius: 10px;
    list-style:none ;
    width: 9em;
    font-size: x-large;
    font-weight: 900;
}

figure{
    background-color: rgb(58, 10, 146);

}

figure img{
    box-sizing: border-box;
    width: 10em;
    height: 4em;
    margin:10px;
}   

a{
    text-decoration: none;
    color: white;
}

nav img{
    height: auto;
    width: 100px;
    margin-left: 1px;
    margin-right: 1px;  
}

#fogon {
    margin-left:0px;
}

.redes{
    height: 2em;
    width: auto;
}

#logos {
    margin-top: 20em;
    position: fixed;
    display: inline;
    right: 0;
    list-style: none;
}

#ulabajo {    
    display: flex;
    justify-content: space-evenly ;
    list-style: none;
    background-color: rgb(14, 0, 141);
    padding: 0px 20px;
}

.tb{
    padding-top: 2em;
}

.hovertext {
    padding: 10px;
}

.hovertext:hover {
    border-radius: 8px;
    background-color: rgb(75, 17, 233);
}

.hoverlogo {
    
    padding: 20px;
}

.hoverlogo:hover {
    border-radius: 8px;
    background-color: rgb(75, 17, 233);
}